/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 

.dokan-w5.earning_select {
    text-align: left;
}  
 
h4.dr_shippingoption {
    text-align: left;
} 
#postimagediv .inside a {
    border: 1px solid #ccc;
    color: #000;
    padding: 3px 20px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    background: inherit;
	max-width: 200px;
}
table.ddwc-dashboard {
    border: 1px solid #DDD;
}

table.ddwc-dashboard thead {
    background: #f1f1f1;
    font-weight: 700;
}

table.ddwc-dashboard td {
    padding: 10px;
}

table.ddwc-dashboard tr {
    border-bottom: 1px solid #f1f1f1;
}

table.ddwc-dashboard tr:last-child {
    border-bottom: 0;
}

table.ddwc-dashboard tr.delivery-charge,
table.ddwc-dashboard tr.order-total {
    background: #f1f1f1;
}

.ddwc-dashboard {
    font-size: 14px;
}

h3.ddwc {
    margin-top: 0;
    margin-bottom: 24px;
}

h3.ddwc {
    position: relative;
}

h3.ddwc span {
    background: transparent;
    border-radius: 3px;
    border: 1px solid #454545;
    color: #454545;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 0px;
    padding: 6px 12px;
    position: absolute;
    top: 0;
    text-transform: uppercase;
}

h3.ddwc span.completed {
    border-color: #76bd1d;
    color: #76bd1d;
}

h3.ddwc span.out-for-delivery {
    color: #56A8C7;
    border-color: #56A8C7;
}

h3.ddwc span.cancelled,
h3.ddwc span.refunded,
h3.ddwc span.failed {
    color: #C94C42;
    border-color: #C94C42;
}

p.ddwc-map-api-error-msg {
    background: #C94C42;
    color: #FFF;
    font-size: 14px;
    padding: 10px;
}

p.ddwc-map-api-error-msg a,
p.ddwc-map-api-error-msg a:visited {
    color: #FFF;
    text-decoration: underline;
}

p.ddwc-map-api-error-msg a:hover {
    color: #FFF;
    text-decoration: none;
}

/* Button Defaults */

a.button.ddwc-button {
    background: #222;
    padding: 0.75em 2em;
    border-radius: 3px;
    color: #FFF;
    font-weight: 600;
}

a.button.ddwc-button:hover,
a.button.ddwc-button:focus,
a.button.ddwc-button:active {
    background: #767676;
    color: #ffffff;
    border: 0;
    box-shadow: none;
}

.ddwc-display-options {
    font-size: 14px;
    float: left;
    line-height: 1;
    margin-bottom: 12px;
    padding: 5px;
    width: 100%;
}

/** Driver Details on Order page */

.ddwc-driver-picture {
    position: relative;
    width: 140px;
    display: inline-block;
}

button.remove-ddwc-driver-picture {
    background: #FF0000;
    border: 0;
    color: #FFF;
    border-radius: 50%;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1px;
    padding: 10px 6.61px;
    position: absolute;
    top: -5px;
    right: -5px;
    text-align: center;
}

button.remove-ddwc-driver-picture:hover {
    background: #DF0000;
    color: #FFF;
}

.ddwc-driver-details {
    position: relative;
    float: left;
    width: 100%;
}

.ddwc-driver-details-img,
.ddwc-driver-details-text {
    float: left;
}

.ddwc-driver-details img,
.ddwc-driver-picture img {
    float: left;
    height: auto;
    margin: 0 12px 24px 0 !important;
    width: 140px;
}

.ddwc-driver-details h4,
.ddwc-driver-details p {
    margin-bottom: 12px !important;
}

.ddwc-driver-details-text h4,
.entry-content .ddwc-driver-details-text h4 {
    margin-top: 0;
}

.woocommerce-order-details :last-child,
table.ddwc-driver-details {
    margin-bottom: 12px !important;
}

table.ddwc-driver-details {
    margin-top: 12px;
}

table.ddwc-driver-details tr td {
    padding: 10px;
}

table.ddwc-driver-details tr td:first-child {
    padding-left: 0;
}

/** Bar Rating */

.br-theme-fontawesome-stars .br-widget {
    height: 28px;
    white-space: nowrap;
}
.br-theme-fontawesome-stars .br-widget a {
    font: normal normal normal 20px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    margin-right: 2px;
}
.br-theme-fontawesome-stars .br-widget a:after {
    content: '\f005';
    color: #d2d2d2;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
    color: #EDB867;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
    color: #EDB867;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
    display: none;
}
.br-theme-fontawesome-stars .br-readonly a {
    cursor: default;
}
@media print {
    .br-theme-fontawesome-stars .br-widget a:after {
        content: '\f006';
        color: black;
    }
    .br-theme-fontawesome-stars .br-widget a.br-active:after,
    .br-theme-fontawesome-stars .br-widget a.br-selected:after {
        content: '\f005';
        color: black;
    }
}

/** Driver's "Out for Delivery" message to administrators */

input.ddwc-ofdmsg {
    margin-bottom: 12px;
    min-width: 260px;
}

.ddwc-orders form input[type="submit"].ddwc-change-status {
    padding: 19px 1em;
    line-height: 0;
    height: auto;
    margin-left: 10px;
}

.ddwc-orders form input[type="submit"].ddwc-change-status.order-returned {
    margin-right: 12px;
}

/** DDWC Pro SMS Updates title on checkout */

.ddwc-pro-sms-updates h3 {
    font-size: 24px;
    margin-bottom: 12px;
}

/** Driver Dashboard - Driver availability */

.ddwc-availability {
    background: #eee;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
    .ddwc-availability {
        margin-top: 24px;
    }
}

.ddwc-availability h4,
.entry-content .ddwc-availability h4 {
    font-size: 20px;
    display: inline-block;
    line-height: 34px;
    margin: 0 0 0 5px;
}
.ddwc-availability label.switch {
    float: right;
    margin-top: 2px;
}

/* The switch - the box around the slider */
.ddwc-availability .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

/* Hide default HTML checkbox */
.ddwc-availability .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.ddwc-availability .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.ddwc-availability .switch .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.ddwc-availability input:checked + .slider {
    background-color: #76bd1d;
}

.ddwc-availability input:focus + .slider {
    box-shadow: 0 0 1px #76bd1d;
}

.ddwc-availability input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

/* Rounded sliders */
.ddwc-availability .switch .slider.round {
    border-radius: 22px;
}

.ddwc-availability .switch .slider.round:before {
    border-radius: 50%;
}

/** Driver Dashboard - Admin - Delivery Drivers table */

table.ddwc-dashboard.delivery-drivers span.driver-status.unavailable {
    color: rgba(0,0,0,0.5);
}

table.ddwc-dashboard.delivery-drivers span.driver-status.available {
    color: #76bd1d;
    font-weight: bold;
}

table.ddwc-dashboard.delivery-drivers a.button.ddwc-button {
    background: #222222;
    display: inline-block;
    height: 36px;
    padding: 0.75em;
}

table.ddwc-dashboard.delivery-drivers a.button.ddwc-button:hover {
    background: #767676;
}

table.ddwc-dashboard.delivery-drivers a.button.ddwc-button svg {
    fill: #FFF;
}

table.ddwc-dashboard.delivery-drivers a.button.ddwc-button:last-child:not(:first-child) {
    margin-left: 6px;
}

table.ddwc-dashboard.delivery-drivers td:first-child img {
    max-width: 24px;
    margin-right: 6px;
    float: left;
}

table.ddwc-dashboard.delivery-drivers td:first-child span.driver-name {
    float: left;
    margin-right: 6px;
}

/** Driver Dashboard - Admin - Delivery Orders table */

table.ddwc-dashboard.admin-orders {
    margin-bottom: 24px;
}

form.ddwc-order-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

form.ddwc-order-filters .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

form.ddwc-order-filters .form-group:last-child {
    align-self: flex-end;
}

form.ddwc-order-filters .form-group input[type="date"], form.ddwc-order-filters .form-group select {
    padding: .75em;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
}

form.ddwc-order-filters input[type="submit"] {
    padding: 16px 24px;
}
table.ddwc-dashboard {
    width: 100%;
}

/*******Dokan Driver popup ****/
.driver-popup {
    position: fixed;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    background: #00000059;
    z-index: 9;
}
.driver-popup form#search-driverfm {
   background: #fff;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 14%;
    padding: 15px;
    width: 100%;
    position: relative;
    display: block !important;
}
span.close_icn {
    position: absolute;
    right: -3px;
    font-size: 38px;
    font-weight: bold;
    top: -11px;
    transform: rotate(-45deg);
    padding: 0 8px;
    cursor: pointer;
}
#search-driverfm label {
    text-align: left;
    display: block;
    padding-bottom: 10px;
}
.dokan-w12.dr_src {
    position: relative;
}
#search-driverfm input#searc_drvr {
    width: 100%;
    margin-bottom: 10px;
	padding: 10px 8px;
}
/*.help-content-area .tabcontent, .help-content-area button {
    margin-top: 25px;
}*/
.tabcontent h4 {
    margin-bottom: 10px;
}
.dr_src span.dokan-loading {
    position: absolute;
    right: -3px;
    top: -3px;
    background-color: #efe6e6;
    width: 34px;
    height: 34px;
}
span.dokan-loading {
    background: url(./image/wpspin_light.gif) no-repeat;
    float: right;
    height: 16px;
    margin: 5px 5px 0;
    width: 16px;
	background-position: center;
}
.searched_data span {
    color: red;
    margin-bottom: 7px;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
}
.searched_data select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
a.btn-adddr {
    background-color: #66ae3d;
    color: #fff;
    padding: 10px 30px;
    border-radius: 4px;
}
p.dr-success {
    color: green;
    font-size: 18px;
}
button.close {
    padding: 1px 0px 2px 5px;
    font-size: 22px;
    font-weight: normal;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 0;
} 
.close {
    float: right;
    transition: color .1s ease-in-out,background .1s ease-in-out;
    text-decoration: none;
    color: #999;
    font-size: 13px;
}
.img-circle {
    border: 1px solid #ccc;
}
span.search_btn {
    position: absolute;
    background: #ccc;
    right: 1px;
    padding: 1px 8px;
    font-size: 22px;
    cursor: pointer;
    color: #000;
}
.dokan-w12.dr_src span.dokan-loading {
    background-position: center;
}
.inner_blck {
    background: #fff;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 10%;
    padding: 15px;
    width: 100%;
    position: relative;
}
.inner_blck span.select2.select2-container.select2-container--default {
    width: 100% !important;
}
.driver-popup .inner_blck {
    padding: 40px 20px;
    min-height: 200px;
}
input.assign_drvr{
	margin-top:20px;	
	}
.dokan-w5.radio_btns {
    text-align: left;
}
h4.dr_shippingoption {
    padding-bottom: 5px;

}

span.driver_ntf {
    background: #eee;
    border: 1px solid #ddd;
    padding: 7px 10px;
    margin-bottom: 24px;
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
}
.driver_ntf a {
    border: 1px solid #ccc;
    padding: 5px 12px;
    border-radius: 3px;
    text-align: right;
    float: right;
    margin-left: 8px;
    margin-top: -4px;
    margin-right: 0px;
    color: #fff;
    font-size: 16px;
}

.driver_ntf a.accept {
	background: #008000;
}
.driver_ntf a.reject {
	background: #ce0808;
}

.otpmatch {
    position: relative;
}
.otpmatch_section {
    border: 1px solid #ababab;
    padding: 20px;
    border-radius: 5px;
    margin-top: 5px;
}
.woocommerce input#ordercompleted:disabled[disabled] {
    padding: 19px 1em;
    line-height: 0;
    height: auto;
}
form.dr_register {
    padding: 30px 20px;
    border: 1px solid #dadada;
    border-radius: 3px;
    background: #f6f6f6;
}
form.dr_register label {
    display: block;
    width: 100%;
    padding: 5px 0;
} 
form.dr_register label span {
    width: 32%;
    display: inline-block;
    color: #000;
    font-size: 15px;
    font-weight: 500;
	text-align: left;
}
form.dr_register label input {
    width: 66%;
    border-radius: 3px;
	 border: 1px solid #d9d9d9;
}
form.dr_register label select {
    width: 66% !important;
    padding: 8px !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 3px !important;
}
input#driver_rgstr {
    padding: 10px 20px;
    text-align: right;
    display: block;
    margin: 29px auto 0;
	 border: 1px solid #d9d9d9;
	  color: #000;
    font-size: 15px;
    font-weight: 500;
}
h2.reg_title {
    text-transform: uppercase;
    font-weight: 500 !important;
    font-size: 20px !important;
}
h2.message {
    font-size: 20px;
    padding: 10px;
    background: #ececec;
    margin-bottom: 20px;
    border-radius: 3px;
}
.success {
    color: #047704;
}
.failed {
    color: #c30202;
}
select#ddwc_driver_transportation_city, select#ddwc_driver_transportation_type {
    width: 100%;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}
.multifields input#dr_cmper, .multifields input#dr_cmfix {
    width: 50%;
    float: left;
}
.dokan-form-group span.discription {
    font-size: 12px;
    text-align: left !important;
    font-style: italic;
    letter-spacing: -0.5px;
    color: #310303;
}



@media screen and (max-width:1080px) {
    form.ddwc-order-filters {
        flex-direction: column;
    }
}