/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


.forminp span.description {
    display: block;
}

.ddwc-driver-picture {
    position: relative;
    width: 140px;
    display: inline-block;
}

.ddwc-remove-driver-picture {
    background: #FF0000;
    border: 0;
    color: #FFF;
    border-radius: 50%;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1px;
    padding: 10px 6.61px;
    position: absolute;
    top: -5px;
    right: -5px;
    text-align: center;
}

.ddwc-remove-driver-picture:hover {
    background: #DF0000;
    color: #FFF;
    cursor: pointer;
}

.ddwc-driver-picture img {
    height: auto;
}

.wp-core-ui select#ddwc_driver_transportation_type {
    width: 22rem;
}

.woocommerce-account .woocommerce-MyAccount-content #dr_register label {
    justify-content: left;
}
#dr_register label span {
    width: 30%;
}
h2.message {
    font-size: 20px;
    padding: 10px;
    background: #ececec;
    margin-bottom: 20px;
    border-radius: 3px;
}
.success {
    color: #047704;
}
.failed {
    color: #c30202;
}


article.help-content-area.earning_mn button {
    margin-top: 0;
}
ul.earning_filter {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
}
ul.earning_filter li {
    display: inline-block;
    padding-right: 22px !important;
}

span.dokan-label.dokan-label-earning {
    background: #454545;
    font-size: 14px;
    font-weight: 500;
}
.del-count p {
    margin-bottom: 0;
    font-size: 15px;
}
.total_delivery .half-bls {
    width: 33.3333%;
    float: left;
    margin-bottom: 36px;
    text-align: center;
    margin-top: 10px;
}
.del-bl {
    border: 1px solid #ddd;
    width: 90%;
    margin: 0 auto;
    padding: 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 12px 3px #d8d8d8;
}
.del-icn {
    width: 32%;
    float: left;
    padding: 20px;
    font-size: 26px;
    color: #fff;
    background: green;
    border-radius: 4px 0px 0px 4px;
}
.del-icn.pending {
    background: red;
}
.del-count {
    width: 68%;
    float: left;
    padding: 9px;
}
p.ord_count {
    font-size: 24px;
    color: #066fa0;
    font-weight: 600;
} 